[Unit]
Description=Python Motion Detection
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/pihomecam/opencv-server.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
